.newMeetingModalContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

.uploadAudioArea {
  margin: 1rem 0;
}

.addMeetingButton {
  display: flex;
  justify-content: flex-end;
}
